[submodule "modules/EXTRMOD/physics"]
	path = modules/EXTRMOD/physics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "modules/EXTRMOD/pybin"]
	path = modules/EXTRMOD/pybin
	url = https://github.com/pybind/pybind11.git
